@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body,html{
    background-color: #8bc6ec;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Fira Code';
}
*{
    font-family: 'Fira Code';
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
}
button{
    font-family: 'Orbitron', sans-serif;
    height: 50px;
    width: 50px;
    border: none;
    object-fit: cover;
    background:#D9D9D9;
    font-size: 24px;
    margin: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
img{
    object-fit: cover;
    height: 35px;
}
.functions{
    display: flex;
    flex-direction: column;
}
.container{
    border: 2px solid black;
    width: 600px;
    height: 600px;
    box-shadow: 4px 4px black;
    display: flex;
    background-color: #3457D5;
}
textarea{
    margin-top: 10px;
    min-height: 500px;
    min-width: 500px;
    overflow: auto;
    outline: none;
    border: none;
    padding: 10px;

}
input{
    margin: 10px;
    margin-right: 0;
    width: 100px;
    height: 35px;
    background: none;
    border: none;


}
.del{
    margin: 10px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-left: auto;
}
.moreFunctions{
    display: flex;
    width: 100%;
}
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border: 1px solid black;
    background: #3457D5; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #253d94; 
  }